<ion-content [fullscreen]="true" color="secondary">
  <div class="imagePreview">
    <img src="{{ photo.userPhoto }}" alt="">
    <div (click)="close()" class="close"></div>
  </div>

  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img (click)="show()" src="{{ photo.userPhoto }}" alt="">
      </div>
      <ion-button class="btnImage" (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-button>
      <div class="name">{{ userProfile?.name }}</div>
      <div class="desc">00000019921</div>
      <a class="contact-btn" (click)="logoutAlert()">Log out</a>
    </div>
    <div class="card-footer">
      <div>
        <h3>My latest Location</h3>
        <p class="ion-text-center" *ngIf="!userLocationList || userLocationList.length === 0">Kamu belum pernah check-in nih!</p>
        <ion-list>
          <ion-item class="ion-padding" button *ngFor="let data of (userLocationList)" (press)="deleteAlert(data)">
            <div>
              <p class="ion-no-margin" style="color: grey">{{ data.location.timestamp | date:'short' }}</p>
              <p class="ion-no-margin" color="primary">{{ data.location.title }}</p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="btnImage" (click)="presentPopover()">
      <ion-icon name="mail-unread-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
