<ion-header>
  <ion-toolbar color="primary">
    <ion-title>maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-input type="text" formControlName="title" placeholder="Enter Input"></ion-input>
      <ion-icon slot="end" name="add" (click)="saveLocation()"></ion-icon>
    </ion-item>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCurrentLoc()">
      <ion-icon name="location-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div #map id="map"></div>
</ion-content>
