<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Friendlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8">
        <ion-searchbar #searchbar="ngModel" ngModel class="ion-padding" (ionInput)="searchFriend($event)" showCancelButton="focus"></ion-searchbar>
        <p class="ion-text-center" *ngIf="friendFilter?.length === 0 && friendList.length !== 0">Result not found</p>
        <p class="ion-text-center" *ngIf="!friendList || friendList.length === 0">There are no friends registereds</p>
        <ion-list>
          <ion-item button lines="none" *ngFor="let friend of (friendFilter)" (press)="deleteAlert(friend)">
            <ion-avatar slot="start">
              <ion-img [src]="(friend.photo | async)"></ion-img>
            </ion-avatar>
            <ion-label>{{ friend.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="./addfriend">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
