<ion-content [fullscreen]="true" color="background">
  <ion-item-group id="container">
    <ion-img src='assets/login/register.svg' class="planeImg"></ion-img>
    <ion-title color="primary">
      <strong>Hai!</strong>
      <p><strong>Yuk daftarkan dirimu</strong></p>
    </ion-title>
    <form [formGroup]="form">
      <mat-label>First name</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="firstname">
        <mat-error *ngIf="(form.get('firstname').dirty || form.get('firstname').touched) && form.get('firstname').errors">
          <span *ngIf="form.get('firstname').errors.required">First name is required</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Last name</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="lastname">
        <mat-error *ngIf="(form.get('lastname').dirty || form.get('lastname').touched) && form.get('lastname').errors">
          <span *ngIf="form.get('lastname').errors.required">Last name is required</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Email</mat-label>
      <mat-form-field appearance="standard">
        <input matInput formControlName="email">
        <mat-error *ngIf="(form.get('email').dirty || form.get('email').touched) && form.get('email').errors">
          <span *ngIf="form.get('email').errors.required">Email is required</span>
          <span *ngIf="form.get('email').errors.email">Email is invalid</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Password</mat-label>
      <mat-form-field appearance="standard">
        <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
          {{passwordHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').errors">
          <span *ngIf="form.get('password').errors.required">Password is required</span>
          <span *ngIf="form.get('password').errors.minlength">Password needs to be 6 characters</span>
        </mat-error>
      </mat-form-field>

      <mat-label>Confirm Password</mat-label>
      <mat-form-field appearance="standard">
        <input matInput [type]="confirmHide ? 'password' : 'text'" formControlName="confirm">
        <mat-icon matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmHide">
          {{confirmHide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="(form.get('confirm').dirty || form.get('confirm').touched) && form.get('confirm').errors">
          <span *ngIf="form.get('confirm').errors.required">Confirm Password is required</span>
          <span *ngIf="form.get('confirm').errors.mustMatch">Password and Confirm Password didn't match</span>
        </mat-error>
      </mat-form-field>
    </form>
    <ion-button (click)="register()" expand="full" color="primary" shape="round" [disabled]="!form.valid">Daftar</ion-button>
    <p style="text-align: center; color: red">
      Sudah memiliki akun? Login
      <span routerLink="/login" class="login">disini</span>
    </p>
  </ion-item-group>
</ion-content>
